<GridLayout row="2" class="bottom-nav-bar" columns="*,*,*,*">
    <Label
            textAlignment="center"
            horizontalAlignment="center"
            text="1"
            col="0">
    </Label>
    <Label
            textAlignment="center"
            horizontalAlignment="center"
            text="1"
            col="1">
    </Label>
    <Label
            textAlignment="center"
            horizontalAlignment="center"
            text="1"
            col="2">
    </Label>
    <Label
            textAlignment="center"
            horizontalAlignment="center"
            text="3"
            col="3">
    </Label>
</GridLayout>