<GridLayout row="2" class="bottom-nav-bar" columns="*,*,*,*">

    <GridLayout
            textAlignment="center"
            horizontalAlignment="center"
            class="bottom-nav-item"
            col="0">
        <Image src="~/assets/img/png/home.png" width="64px" height="64px"></Image>
    </GridLayout>

    <GridLayout
            textAlignment="center"
            horizontalAlignment="center"
            col="1">
        <Image src="~/assets/img/png/home.png" width="36px" height="36px"></Image>
    </GridLayout>

    <GridLayout
            textAlignment="center"
            horizontalAlignment="center"
            col="2">
        <Image src="~/assets/img/png/home.png" width="36px" height="36px"></Image>
    </GridLayout>

    <GridLayout
            textAlignment="center"
            horizontalAlignment="center"
            col="3">
        <Image src="~/assets/img/png/home.png" width="36px" height="36px"></Image>
    </GridLayout>

</GridLayout>