

<ActionBar title="Titlerrr" class="action-bar"></ActionBar>






<TabView height="300px">
    <StackLayout *tabItem="{title: 'Tab 1'}">
        <Label text="Label in Tab 1"></Label>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Tab 2'}">
        <Label text="Label in Tab 2"></Label>
    </StackLayout>
</TabView>
















<!--<GridLayout>-->
    <!--<ScrollView class="page">-->
        <!--<StackLayout class="home-panel">-->

            <!--<TextView editable="false">-->
                <!--<FormattedString>-->
                    <!--<Span text="This is a text view that uses attributed text. You can use text attributes such as "></Span>-->
                    <!--<Span text="bold, " fontWeight="Bold"></Span>-->
                    <!--<Span text="italic " fontStyle="Italic"></Span>-->
                    <!--<Span text="and "></Span>-->
                    <!--<Span text="underline." textDecoration="Underline"></Span>-->
                <!--</FormattedString>-->
            <!--</TextView>-->
            <!--!&#45;&#45;<Button text="Button"></Button>&ndash;&gt;-->
            <!--<Image src="https://play.nativescript.org/dist/assets/img/NativeScript_logo.png"></Image>-->
            <!--<Switch checked="true"></Switch>-->

            <!--<DatePicker [year]="currentYear" [month]="currentMonth" [day]="currentDay"-->
                        <!--minDate="1970-01-01" maxDate="2100-12-31"></DatePicker>-->
            <!--<Progress [value]="progressValue" maxValue="100"></Progress>-->
            <!--&lt;!&ndash;Add your page content here&ndash;&gt;-->
            <!--<Label textWrap="true" text="Play with NativeScript!" class="h2 description-label"></Label>-->
            <!--<Label textWrap="true" text="Write code in the editor or drag and drop components to build a NativeScript mobile application."-->
                   <!--class="h2 description-label"></Label>-->
            <!--<Label textWrap="true" text="Scan the QR code with your mobile device and watch the changes sync live while you play with the code."-->
                   <!--class="h2 description-label"></Label>-->
            <!--<Label textWrap="true" text="Play with NativeScript!" class="h2 description-label"></Label>-->
            <!--<Label textWrap="true" text="Write code in the editor or drag and drop components to build a NativeScript mobile application."-->
                   <!--class="h2 description-label"></Label>-->
            <!--<Label textWrap="true" text="Scan the QR code with your mobile device and watch the changes sync live while you play with the code."-->
                   <!--class="h2 description-label"></Label>-->

        <!--</StackLayout>-->
    <!--</ScrollView>-->
<!--</GridLayout>-->
<!--<ScrollView orientation="horizontal">-->
    <!--<GridLayout class="m-15" columns="auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto">-->
        <!--<Label width="60" height="50" class="h3 m-15" col="0" text="Title 1"></Label>-->
        <!--<Label width="60" height="50" class="h3 m-15" col="1" text="Title 2"></Label>-->
        <!--<Label width="60" height="50" class="h3 m-15" col="2" text="Title 3"></Label>-->
        <!--<Label width="60" height="50" class="h3 m-15" col="3" text="Title 4"></Label>-->
        <!--<Label width="60" height="50" class="h3 m-15" col="4" text="Title 5"></Label>-->
        <!--<Label width="60" height="50" class="h3 m-15" col="5" text="Title 6"></Label>-->
        <!--<Label width="60" height="50" class="h3 m-15" col="6" text="Title 7"></Label>-->
        <!--<Label width="60" height="50" class="h3 m-15" col="7" text="Title 8"></Label>-->
        <!--<Label width="60" height="50" class="h3 m-15" col="8" text="Title 9"></Label>-->
        <!--<Label width="60" height="50" class="h3 m-15" col="9" text="Title 10"></Label>-->
        <!--<Label width="60" height="50" class="h3 m-15" col="10" text="Title 11"></Label>-->
        <!--<Label width="60" height="50" class="h3 m-15" col="11" text="Title 12"></Label>-->
        <!--<Label width="60" height="50" class="h3 m-15" col="12" text="Title 13"></Label>-->
        <!--<Label width="60" height="50" class="h3 m-15" col="13" text="Title 14"></Label>-->
        <!--<Label width="60" height="50" class="h3 m-15" col="14" text="Title 15"></Label>-->
    <!--</GridLayout>-->
<!--</ScrollView>-->








<!--<FlexboxLayout height="22" flexDirection="row-reverse">-->
    <!--<Label text="1" backgroundColor="#EEEEEE" flexGrow="1"></Label>-->
    <!--<Label text="2" backgroundColor="#DDDDDD" flexGrow="2"></Label>-->
    <!--<Label text="3" backgroundColor="#CCCCCC" flexGrow="3"></Label>-->
    <!--<Label text="4" backgroundColor="#BBBBBB" flexGrow="4"></Label>-->
    <!--<Label text="5" backgroundColor="#AAAAAA" flexGrow="5"></Label>-->
    <!--<Label text="6" backgroundColor="#999999" flexGrow="6"></Label>-->
<!--</FlexboxLayout>-->