/* Add mobile styles for the component here.  */
.btn-nav{
    background-image: url("~/assets/img/png/logo.png");
    background-repeat: no-repeat;
}
.logo{
    background-image: url("~/assets/img/png/menu-button.png");
    background-repeat: no-repeat;
}