<GridLayout rows="auto, * ,50" class="page">
    <GridLayout>
        <ActionBar>
            <GridLayout row="" class="main-nav-panel" columns="*,*">
                <Label
                        textAlignment="center"
                        horizontalAlignment="left"
                        class="btn-nav"
                        width="96px"
                        height="32px"
                        col="0">
                </Label>

                <Label
                        textAlignment="center"
                        horizontalAlignment="right"
                        width="32px"
                        height="32px"
                        class="logo"
                        col="1">
                </Label>
            </GridLayout>
        </ActionBar>
        <FlexboxLayout justifyContent="space-around" class="land">
            <Label text="русский" class="land-item active"></Label>
            <Label text="український" class="land-item"></Label>
            <Label text="english" class="land-item"></Label>
        </FlexboxLayout>
    </GridLayout>
    <!--<ScrollView backgroundColor="#e8e7e7">-->

    <!--</ScrollView>-->



    <!--bottom-nav-->
    <ns-bottomnav></ns-bottomnav>
</GridLayout>